@font-face {
    font-family: 'NowMedium';
    src: URL('../fonts/Now-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'AllSeason';
    src: URL('../fonts/All-Season.otf') format('opentype');
}

@font-face {
    font-family: 'Euqlid';
    src: URL('../fonts/Euclid-Circular.ttf') format('truetype');
}

@font-face {
    font-family: 'ComicBook';
    src: URL('../fonts/Comic_Book.ttf') format('truetype');
}
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    /* background-color: rgb(33, 45, 52); */
    background-color: var(--website-bg-color);
    font-family: 'Euqlid';
    letter-spacing: 0.05em;
}

.main-container {
    width: 100%;
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* ----------------------CUSTOM FORM------------------------- */

.form-container {
    width: 100%;
    min-width: 800px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-bg-color);
}

.form-box {
    width: 22.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-settings-box {
    width: 10%;
    min-width: 160px;
}

.form-box .icon-settings {
    font-size: 2em;
    color: var(--contrast-color);
    transition: 0.5s ease-out;
}

.form-box .icon-settings:hover {
    cursor: pointer;
    color: var(--main-color);
}

.settings-menu {
    position: fixed;
    z-index: 3;
    width: 10%;
    min-width: 160px;
    /* height: calc(100vh - 400px); */
    /* min-height: 400px; */
    height: 0px;
    left: 0;
    /* left: calc(calc(10% - calc(10% * 0.8)) / 2); */
    top: 100px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    transition: 0.3s ease-out;
    pointer-events: none;
}

.settings-menu-open {
    opacity: 1;
    height: calc(100vh - 400px);
    /* min-height: 300px; */
    pointer-events: all;
}

.settings-box {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--contrast-color);
    user-select: none;
}

#custum-percent-settings-box {
    flex-direction: column;
    justify-content: center;
}

.custom-percent-half-box:nth-child(1) {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-percent-half-box:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#custom-percent-input {
    -webkit-appearance: none;
    outline: none;
    width: 90%;
    height: 20px;
    background: var(--contrast-color);
}

#custom-percent-input:hover {
    cursor: pointer;
}

#custom-percent-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 20px;
    background: var(--main-color);
}

#custom-percent-input::-moz-range-thumb {
    width: 16px;
    height: 20px;
    background: var(--main-color);
}

.settings-box i {
    font-size: 2rem;
    transition: 0.5s ease-out;
    pointer-events: none;
}

.icon-box:hover i {
    color: var(--main-color);
}



.board-input-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.board-input {
    /* width: 50%; */
    width: 80%;
    margin-left: 12%;
    max-width: 200px;
    height: 35px;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    color: var(--contrast-color);
    border: 2px solid var(--contrast-color);
    border-radius: 4px;
    outline: none;
    font-size: 9px;
}

.placeholder {
    position: absolute;
    top: 41px;
    left: 15%;
    padding: 0px 5px;
    pointer-events: none;
    color: var(--main-color);
    transition: 0.3s;
}

.board-input:focus+.placeholder,
.board-input:not(:placeholder-shown)+.placeholder {
    color: var(--contrast-color);
    top: 22px;
    background-color: var(--main-bg-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#game-timer {
    margin-bottom: 5px;
    font-size: 1.4em;
    color: var(--contrast-color);
}

#update-button {
    width: 50%;
    height: 35px;
    color: var(--contrast-color);
    background-color: var(--box-second-layer-color);
    border: 2px solid var(--box-second-layer-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    /* color: rgb(82, 141, 193); */
    transition: 0.6s ease-out;
    user-select: none;
}

#update-button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--contrast-color);
    transform: scale(1.05);
}


#flags-to-set-div{
    z-index: 3;
    position: fixed;
    top: 100px;
    right: 0px;
    /* right: calc(calc(22.5% - calc(22.5% * 0.8)) / 2); */
    /* width: calc(22.5% * 0.8); */
    width: 120px;
    height: 60px;
    /* border: 10px solid var(--main-bg-color); */
    /* border-top: none; */

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--flag-color);
    color: var(--website-bg-color);
    font-size: 1.5em;
}

/* ----------------------BOARD------------------------- */

.board-container {
    width: 40%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 2px;

    justify-items: center;
    align-items: center;
}

.box {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
}

.box-first-layer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--box-first-layer-color);
    transition: background-color 0.5s ease-out;
}

.box-first-layer:hover {
    cursor: pointer;
    background-color: var(--box-first-layer-color-hover);
    /* transform: scale(1.03); */
}

.flag {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 50%;
    background-color: var(--flag-color);
    pointer-events: none;
}

.box-second-layer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--box-second-layer-color);
    color: white;
    font-size: 2rem;
}

.bomb {
    background-color: var(--box-bomb-color);
}